
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
  }
  
  .search-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .search-input, .category-select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .favorites-button {
    background-color: #6200ea;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 200px; 
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
  }
  
  .favorites-button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
  }
  
  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .recipe-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .recipe-card p {
    font-size: 1rem;
    color: #666;
  }
  
  .recipe-card a {
    text-decoration: solid;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
  
  .recipe-card a:hover {
    text-decoration: underline;
  }
  
  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

.loader-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%; 
}

.no-recipes-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 95vw; 
  font-size: 1.5rem;
  color: #666;
}


.pagin {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background: white; 
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Легка тінь для виділення */
  z-index: 1000; 
}

  
